name: Docker Python CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
    contents: read
    packages: write
    id-token: write

jobs:
    build-test-push:
      runs-on: ubuntu-latest

      steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      
      - name: Run tests
        run: pytest -q | tee test-output.txt

      - name: Generate build version
        id: version
        run: echo "build_version=$(date +%Y%m%d-%H%M%S)" >> $GITHUB_OUTPUT

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GitHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ghcr.io/${{ github.repository }}:${{ steps.version.outputs.build_version }} .

      - name: Upload test output artifact
        uses: actions/upload-artifact@v4
        with:
          name: test-output
          path: test-output.txt